
#------------------------------------------------------------------------------#
#---------------------------------- General -----------------------------------#
#                                  --START!--                                  #

.DS_Store
.idea
*.log
tmp/


#                                  ---END!---                                  #
#---------------------------------- General -----------------------------------#
#------------------------------------------------------------------------------#
#
#
#------------------------------------------------------------------------------#
#-------------------------------  ~ Ansible ~  --------------------------------#
#                                  --START!--                                  #

#------------------------------
# User Config
#------------------------------
# Ignore the user's config - they can put things specific to them in there.
# E.g. their SSH key.
# There can be a template/example checked in for them to derive from.
ansible.cfg

# Allow others: ansible.robot.cfg, ansible.template.cfg, etc.


#------------------------------
# General
#------------------------------
# https://github.com/github/gitignore/blob/master/Global/Ansible.gitignore
*.retry


#------------------------------
# Saved Copies of 'ansible_facts' Output
#------------------------------
# Generally named something like: "home-2019-raspi4.ansible_facts.abridged.json"
ansible/*ansible_facts*


#                                  ---END!---                                  #
#-------------------------------  ~ Ansible ~  --------------------------------#
#------------------------------------------------------------------------------#
#
#
#------------------------------------------------------------------------------#
#--------------------------------  ~ Config ~  --------------------------------#
#                                  --START!--                                  #



#                                  ---END!---                                  #
#--------------------------------  ~ Config ~  --------------------------------#
#------------------------------------------------------------------------------#
